---
BasedOnStyle: llvm
IndentWidth: 2
---
Language: Cpp
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
ColumnLimit: 80
Cpp11BracedListStyle: false
DerivePointerAlignment: false
FixNamespaceComments: true
IndentCaseLabels: true
IndentPPDirectives: AfterHash
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: CaseSensitive
SortUsingDeclarations: true
Standard: c++20
TabWidth: 2
UseTab: ForIndentation

...
