[submodule "dependencies/poco"]
	path = dependencies/poco
	url = https://github.com/pocoproject/poco.git
[submodule "dependencies/openssl"]
	path = dependencies/openssl
	url = https://github.com/openssl/openssl.git
	ignore = dirty
[submodule "dependencies/embeddable-wg-library"]
	path = dependencies/embeddable-wg-library
	url = https://git.zx2c4.com/wireguard-tools
[submodule "dependencies/flatbuffers"]
	path = dependencies/flatbuffers
	url = https://github.com/google/flatbuffers.git
